body {
    padding-top: 5rem;
    margin:0;
    /*background-color:green;*/
}

img{
  width:90%;
  /*height:90%;*/
}

ul{
    display:grid;
    grid-template-columns: (3,1fr);
    column-width: 5px;
   
    
}

li{
  list-style-type: none;
}


