body {
    padding-top: 5rem;
    margin:0;
    /*background-color:green;*/
}

img{
  width:90%;
  height:90%;
  justify-items: center;
  
}

.pictures{
    display:grid;
    grid-template-columns: 300px 300px 300px;
    padding:5px;
   
}

li{
  list-style-type:none;
  justify-items: center;
}




